.contactpage {
  .getintouch {
    padding-bottom: 120px;
    .container {
      padding-top: calc(var(--height-header) + 80px);
    }
    h1 {
      text-align: left;
      margin-bottom: 52px;
    }
    .getintouch__content {
      &-form {
        grid-column: 1/9;
        padding-right: 36px;
        .formgroup {
          gap: 25px;
          row-gap: 32px;
          .btn {
            cursor: pointer;
            margin-top: 20px;
          }
          &__input {
            display: flex;
            flex-direction: column;
            &-message {
              grid-column: 1/3;
            }
            label {
              margin-bottom: 19px;
            }
            input,
            textarea {
              padding-left: 24px;
              background: var(--blue-cl);
              outline: none;
              border: 1px solid var(--blue-cl);
              color: var(--white-cl);
              &:focus {
                border-color: var(--white-cl);
              }
              @include placeholder {
                color: var(--white-cl);
              }
            }
            input {
              height: 68px;
              border-radius: 100px;
            }
            textarea {
              border-radius: 14px;
              resize: none;
              height: 162px;
              padding: 20px 25px;
            }
            & > .form-error {
              font-size: 14px;
              color: var(--red-cl);
            }
            &.--invalid {
              input,
              textarea {
                border-color: var(--red-cl);
                @include transition;
              }
            }
          }
        }
      }
      &-info {
        grid-column: 9/13;
        .textbox {
          margin-bottom: 37px;
          h2 {
            margin-bottom: 15px;
          }
        }
        .icon__list {
          &-item {
            img {
              @include size(38px, 38px);
            }
            a {
              color: var(--white-cl);
            }
            &:not(:last-child) {
              margin-bottom: 24px;
            }
          }
        }
      }
    }
    .blur {
      top: 0;
      right: 0;
      transform: translate(40%, -50%);
      opacity: 0.8;
    }
    @include sm {
      .getintouch__content {
        grid-template-columns: 1fr;
        gap: initial;
        &-form {
          margin-bottom: 48px;
          grid-column: initial;
          padding-right: initial;
        }
        &-info {
          grid-column: initial;
        }
      }
    }
    @include xxs {
      padding-bottom: 50px;
      .container {
        padding-top: calc(var(--height-header) + 48px);
      }
      .blur {
        transform: translate(40%, -50%) scale(0.9);
      }
      .getintouch__content {
        &-form {
          .formgroup {
            grid-template-columns: 1fr;
            row-gap: initial;
            gap: 24px;
            .btn {
              width: 100%;
              margin-top: 8px;
            }
            .formgroup__input-message {
              grid-column: initial;
            }
          }
        }
        &-info {
          .textbox {
            margin-bottom: 24px;
            h2 {
              margin-bottom: 19px;
            }
          }
        }
      }
    }
  }
  .accordion {
    padding-bottom: 120px;
    .container {
      @include mid(true);
      flex-direction: column;
      gap: 74px;
    }
    .accordion__list {
      max-width: 790px;
      &-item {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgba(225, 225, 225, 0.2);
        cursor: pointer;
        .question {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 35px;
          padding-bottom: 24px;
          h3 {
            &:hover {
              color: var(--blue-btnsub-cl);
              @include transition;
            }
          }
        }
        .answer {
          overflow: hidden;
          transition: 0.3s ease-out;
          max-height: 0px;
          overflow: hidden;
          p {
            margin-bottom: 31px;
          }
        }
        &.--show {
          .question {
            &__icon {
              span {
                &::after {
                  transform: rotate(90deg);
                }
              }
            }
          }
        }
      }
    }
    @include xs {
      .container {
        gap: 32px;
      }
      .accordion__list {
        &-item {
          .question {
            padding-top: 24px;
            padding-bottom: 28px;
          }
          .answer {
            p {
              margin-bottom: 23px;
            }
          }
        }
      }
    }
  }
}
